<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar Alimentando Vidas</title>
    <link rel="shortcut icon" href="../../Imagens/favicon.ico" type="image/x-icon">
    <link rel ="stylesheet" href="../../CSS/style_header.css"> <!-- Header / Nav -->
    <link rel ="stylesheet" href="../../CSS/style.css"> <!-- Main -->
    <link rel ="stylesheet" href="../../CSS/style_footer.css"> <!-- Footer -->
</head>
<body>
    <header>
        <nav>
            <a id="logo" href="/"><img src="../../Imagens/favicon.png" alt="Logotipo Alimentado Vidas"></a>
            <div id="menu">
                <ul class="lista_genero">
                    <li><a href="/setor/r?classificacao=Adulto&genero=Masculino">Masculino</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Camisas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Bermudas">Bermudas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Masculino&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                        
                    <li><a href="/setor/r?classificacao=Adulto&genero=Feminino">Feminino</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Camisetas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Saias">Saias</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Vestidos">Vestidos</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Blusas">Blusas</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Macacões">Macacões</a></li>
                            <li><a href="/setor/r?classificacao=Adulto&genero=Feminino&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                    <li><a href="/setor/r?classificacao=KIDS">Kids</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=KIDS&item=Camisetas">Camisetas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Calças">Calças</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Bermudas">Bermudas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Vestidos">Vestidos</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Blusas">Blusas</a></li>
                            <li><a href="/setor/r?classificacao=KIDS&item=Calçados">Calçados</a></li>
                        </ul>
                    </li>
                    <li><a href="/setor/r?classificacao=Diversos">Diversos</a>
                        <ul>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Acessorios">Acessórios</a></li>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Brinquedos">Brinquedos</a></li>
                            <li><a href="/setor/r?classificacao=Diversos&&tipo=Utensilios">Utensílios</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        
        <script>  
            var usuario = '<%= typeof usuario !== "undefined" ? usuario: "" %>'
            var genero = '<%= typeof genero !== "undefined" ? genero: "" %>'
            var item = '<%= typeof item !== "undefined" ? item: "" %>'
            var classificacao = '<%= typeof classificacao !== "undefined" ? classificacao: "" %>'
            var tipo = '<%= typeof tipo !== "undefined" ? tipo: "" %>'
            let redirectUrl = '';
            if(classificacao && !genero && !item & !tipo){
                redirectUrl = `/setor/r?classificacao=${classificacao}`;
                console.log('1')
            }else if(classificacao && genero && !item && !tipo){
                redirectUrl = `/setor/r?classificacao=${classificacao}&genero=${genero}`;
                console.log('2')
            }else if(classificacao && genero && item && !tipo){
                redirectUrl = `/setor/r?classificacao=${classificacao}&genero=${genero}&item=${item}`;
                console.log('3')
            }else if(classificacao && !genero && item && !tipo){
                redirectUrl = `/setor/r?classificacao=${classificacao}&item=${item}`;
                console.log('4')
            }else if(classificacao && !genero && !item & tipo){
                redirectUrl = `/setor/r?classificacao=${classificacao}tipo${tipo}`;
                console.log('5')
            }
            console.log(redirectUrl)
            
        </script>
        <div id="cadastrar">
            
            <a href="" id="entre">Entre</a>
            <span>ou</span>
            <button onclick="location.href='/cadastrar'">CADASTRE-SE</button>
        </div>
        <div id="usuarioLogado">
            <a href="/carrinho">
                <div id="carrinho">
                    <img src="../Imagens/carrinho.png" alt="">
                </div>
            </a>
            <div id="usuario"></div>
        </div>
        
    </header>

    <main id="main_consulta">

        <div class="pesquisa">
            <input type="text" id="pesquisar" placeholder="Digite sua pesquisa" name="pesquisa">

        </div>

        <% if(!item && !genero && !tipo){ %>
            <h1>Setor <%=classificacao%> </h1>
        <%}else if(!item && genero){%>
            <h1>Setor <%=classificacao%> / <%= genero %> </h1>
        <%}else if(item && genero){%>
            <h1>Setor <%=classificacao%> / <%= genero %> / <%= item%> </h1>
        <%}else if(!item && !genero && tipo){%>
            <h1>Setor <%=classificacao%> / <%= tipo %> </h1>
        <%}else if(item && !genero && !tipo){%>
            <h1>Setor <%=classificacao%> / <%= item %> </h1>
        <% } %>
            

        <div class="destaques">
            <% itens.forEach(function(item){ %>
                <% var codReferencia = encodeURIComponent( item.ITM_CodReferencia) %>
            <article>
                <img src="../<%= item.ITM_Foto %>" alt="exemplo de roupa" onclick="location.href = '/roupa/r?codReferencia=<%= codReferencia %>'">
                <div id="etiqueta">
                    <div id="circulo"></div>
                    <span class="valor_foto">R$ <%= item.ITM_Valor %></span>
                </div>
            </article>
            <% }) %>
        </div>
        
    </main>

    <footer class="footer">
        <ul>
            <li><a href="/quemSomos">Quem Somos</a></li>
            <li><a href="/nossaHistoria">Nossa História</a></li>
            <li><a href="/sejaUmDoador">Seja um Doador</a></li>
        </ul>
    </footer>
    <script src="../Javascript/script_usuario.js"></script>
    <script src="../Javascript/script_pesquisar.js"></script>
    <script>
        var entreLink = document.getElementById('entre');
        entreLink.setAttribute('href', '/login/l?redirect='+encodeURIComponent (redirectUrl));
    </script>
</body>
</html>